//
// VARIABLES
//

// Colors
$blue: rgb(120, 40, 140);

// Grays
$black: #000; 
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$red: #ff0000;
$rey: rgb(0,0,255);
$orange: rgb(239,127,26);
$yellow: rgb(255,233,0);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$verdana: Verdana, serif;
$impact: Impact, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
